div.content {
	display: none;
}

.progress {
	background-color: white;
	margin: 25% 0 0 0;
}

.progress .indeterminate {
    background-color: #000000;
}

#blogname{
	font-size:  1.5rem;
	font-weight: bold;
}

#name{
	font-weight: bold;
	text-align: center;
}

.title{
	font-size: 1.5rem;
	font-weight: bold;
}

#name sub{
	font-size: 50%;		
	text-transform: lowercase;
}

#hello p,#summary p{
	text-align: justify;
}

.row {
	margin-bottom:0px;
}

#links img{	
	position:fixed;
	top:680px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}
 
#links .s2{
	width: 16%;
	margin: 2%;
}

#links .col.s2{
	padding: 0;
}

#pics img {
	height: 210px;
	width: 330px;
}
#projects img {
	height: 100%;
	width: 100%;
}

.section{
	padding-top: 0;
	padding-bottom: 0.5rem;
}

.info{
	height: 100%;
}

#pageb .tabs{
	background: none;
}


.type.col.m4{
	min-height: 200px;
}

.row.project,.row.education,.row.work{

	padding: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.tag{
	font-style: italic;
}

.ps.ps--active-x > .ps__scrollbar-x-rail, .ps.ps--active-y > .ps__scrollbar-y-rail{
	background: none;
}

.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y{
	background-color: rgba(255,255,255,255);
}

.tabs-content.carousel .carousel-item{
	height: 100%;
	overflow-y: scroll;
}


.tabs .tab a{
	opacity: 1;
}

#skills .m2{
	width: 20%;
	margin: 1%;
	padding: 2%;
	border-radius: 50%;
	font-size: 1.15rem;
}

.collapsible-header,.collapsible-body{
	background: none;
	border: none;
	padding: 0;
}


.collapsible{
	border: none;
	box-shadow: none;
}


#skills svg {
	height: 100%;
	width: 100%;
}

.education.col.s12, .work.col.s12{
	margin: 1%;
}


object{
	width: 16%;
	margin: 1%;
}

#contact{
	text-align: center;
}

#skills{
	text-align: center;
	font-size: 10px;
}

#believe{
	height: 10em;
}

#skills svg path{
	fill: rgba(255,255,255,1);
}


#image img{
	width: 39.5%;
	filter: none;
	border: solid white 3px;
	margin-left: 30.25%;
	margin-right: 30.25%;
}

#links svg path{
	fill: white;
}

#Says{
	border-top: solid white 2px;
	font-size: 1rem;
	margin-top: 1%
}

.details{
	text-align: justify;
	padding-left: 2%;
}

a{
	color: rgb(255, 153, 0);
}
.tabs .tab a.active {
	color: white;
	opacity: 1;
}

.tabs .tab a{
	color: white;
}

.tabs .tab a:hover{
	color: white;
}

.tabs .indicator{
	background-color: white;
}

body{
	background-color: #111111;
	color: white;
	font-family: "Lekton", monospace;
	font-size: 1.15rem;
	font-display: auto;
}

h6 {
	font-size: 1.15rem;
}


.swal-button {
	color: white;
	background-color: #000000;
	box-shadow: none !important;
	text-align: justify;
}

button:focus {
	color: white !important;
	background-color: #000000 !important;
}

button:hover {
	color: white !important;
	background-color: #000000 !important;
}

.swal-button-container {
	display: inline;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important; }

  .pagination {
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem; 
	font-size: 14px;
	font-weight: 600;
  }
  
  .page-link {
	position: relative;
	display: block;
	padding: 0.55rem .8rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #03a87c;
	background-color: #fff;
	border: 1px solid #dee2e6; }
	.page-link:hover {
	  z-index: 2;
	  color: #025d45;
	  text-decoration: none;
	  background-color: #e9ecef;
	  border-color: #dee2e6; }
	.page-link:focus {
	  z-index: 2;
	  outline: 0;
	  box-shadow: 0 0 0 0.2rem rgba(3, 168, 124, 0.25); }
	.page-link:not(:disabled):not(.disabled) {
	  cursor: pointer; }
  
  .page-item:first-child .page-link {
	margin-left: 0;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem; }
  
  .page-item:last-child .page-link {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem; }
  
  .page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #03a87c;
	border-color: #03a87c; }
  
  .page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
	background-color: #fff;
	border-color: #dee2e6; }
  
  .pagination-lg .page-link {
	padding: 0.75rem 1.5rem;
	font-size: 1.15rem;
	line-height: 1.5; }
  
  .pagination-lg .page-item:first-child .page-link {
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem; }
  
  .pagination-lg .page-item:last-child .page-link {
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem; }
  
  .pagination-sm .page-link {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5; }
  
  .pagination-sm .page-item:first-child .page-link {
	border-top-left-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem; }
  
  .pagination-sm .page-item:last-child .page-link {
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem; }