---
layout: page
# The Portpolio of posts.
---

{% include lang.html %}


<div id="portpolio" class="pl-xl-3">
<div id="projects" class="info col m12 s12 carousel-item active" style="transform: translateX(0px) translateX(0px) translateX(0px) translateZ(0px); z-index: 0; opacity: 1; display: block;">
    <div class="row project">
           <div class="row">
                <a><span class="title"><h2>VPL기반의 서비스 로봇용 안내 어플리케이션</h2></span></a>
            </div>
        <div class="col m6 s12">
            <div class="row">
                2011년 4월-2011년 12월
            </div>
            <div class="row">Tools Used: VPL, TTS
            </div>
            <div class="row">
                <span class="tag">#관절 제어 #안내 서비스 #로봇 콘트롤러 개발</span>
            </div>
            PC 기반의 지능형 로봇 시스템인 아이구로의 머리 움직임과 로봇 팔을 이용한 관절 제어와 TTS를 이용한 음성 데이터 출력해 안내서비스를 제공하는 VPL 어플리케이션을 개발한다. 관절제어 및 자유로운 움직임을 통해 사람의 관절에 대해 이해하고 더 나아가 로봇에 대한 흥미 유발이 가능하다.
        </div>
        <div class="col m6 s12 details">
            <br><img src="https://tkdals1049.github.io/gallerys/pro1.jpg" alt="drawing">
        </div>
    </div>
</div>
</div>